EXPO_PUBLIC_SUPABASE_URL=https://your-project-ref.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=your-anon-public-key
STORMGLASS_API_KEY=edf68678-2e4b-11f1-a882-0242ac120004-edf686e6-2e4b-11f1-a882-0242ac120004
